.MuiAppBar-colorPrimary.custom-navbar {
    background-color: #ffff;
  }
  
  .MuiAppBar-colorPrimary.custom-navbar > div > div {
    padding: 0;
  }
  .basket-wrapper {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
  }
  
  .custom-navbar .custom-title {
    display: flex;
  }
  
  .custom-navbar .custom-title .logo {
    width: 50px;
    height: 50px;
  }
  
  .basket-wrapper .custom-basket {
    font-size: 45px;
    color: #000;
  }
  
  .basket-wrapper strong {
    color: #000;
  }

  h1{
    margin-top: 2.5%;
    font-size:24px;
    margin-left: 5%;
  }

  .cart{
    font-size:50%;
    margin-left: auto;
    color: #000;
  }

  .logout{
    font-size:20%;
    margin-right: auto;
    color: #000;
  }

  .total{
    margin-left: 60%;
    font-size: 24px;
    color: #000;
  }

  @media screen and (max-width: 800px) {
    h1 {
      margin-top: 15px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 800px) {
    .cart {
      margin-left:auto;
    }
  }

  @media screen and (max-width: 800px) {
    .total {
      margin-left:auto;
    }
  }
