.BG {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #F2F7FF;
}

.BG>div>div {
  align-items: center;
}

.BG .brand {
  display: flex;
  align-items: center;
}

.BG .brand img {
  width: 100%;
}

.BG .title {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.BG .shopping-button {
  color: #000000;
  background-color: #03dac5;
}

@media (min-width: 800px) {
  .BG .title {
    font-size: 65px;
  }
}

.typing {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
}

.typing h2 {
  position: relative;
  color: #4FC3F7;
  letter-spacing: 5px;
  font-size: 4rem;
  overflow: hidden;
  margin-left: 18%;
  margin-bottom: 0;
  animation: type 5s steps(11) infinite;
}

@keyframes type {

  0%,
  100% {
      width: 0px;
  }

  30%,
  60% {
      width: 394.09px;
  }
}


@media screen and (max-width: 800px) {
  .typing h2 {
    font-size: 3rem;
    margin-left: -10%;
  }
}


